# AWS access key used to create infrastructure
access_key = ""
# AWS secret key used to create AWS infrastructure
secret_key = ""
aws_region = "us-west-2"
vpc_id     = "vpc-id"
subnet_ids = ["subnet-id-1", "subnet-id-2"]
github_app = {
  "key_base64" : "",     #github app private key base64 encoded
  "id" : "",             #github app id
  "webhook_secret" : "", #github app webhook secret
}
